<footer style="margin-bottom: 0%; margin-top: 6%;" class="bg-body-tertiary text-center footer text-lg-start mb-auto">
  <!-- Copyright -->
  <div class="text-center p-3" style="">
    © 2024 Copyright:
    <a class="text-body" href="#">notes</a>
  </div>
  <!-- Copyright -->
</footer>
