<% if object.present? && object.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this action from being saved:</h2>
    <ul>
      <% object.errors.each do |attribute, message| %>
        <li><%= "#{attribute.to_s.humanize} #{message}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
